/* Change h1 color */
h1{
   /* Use cadetblue color */     
   color: cadetblue;
   font-size: 40px;
   text-align: center;
}

h2 {
   text-align: center;
}

.bar {
   border-bottom: solid 1px;
   margin-bottom: 50px;
}

.bar_items {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.posts {
    box-shadow: 10px 10px 5px 10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 10px rgba(0,0,0,0.75);
    margin: 40px 20px 20px 20px;
    padding: 10px;
}

/* Change h2 color */
h2{
   /* Use cadetblue color */     color: cadetblue;
}

/* Change h4 color */
h4{
   /* Use cadetblue color */     color: cadetblue;
}