<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <div>
            <h1>Motion Prod</h1>
        </div>
        <div class="bar">
            <ul class="bar_items">
                <li><a href={{ url_for('home')  }}>Home</a></li>
                <li><a href={{ url_for('login')  }}>Login</a></li>
                <li><a href={{ url_for('create_post')  }}>Create Post</a></li>
                <li><a href={{ url_for('contact')  }}>Contact</a></li>
            </ul>
        </div> 
    </header>
    </mian>
        {% block main %}
        {% endblock %}
    </mian>
    <footer>
        All rights reserved Motion 2024
    </footer>   
</body>
</html>