{% extends "base.html" %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <title>Post</title>
{% endblock %}

{% block main %}
    <mian>
        <!DOCTYPE html>
        <html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Ejemplo</title>
</head>
<body>
    <h3>Create Post:</h3>
    <form action="/post" method="post">
        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author"><br>
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="text">Text of post:</label><br>
        <input type="text" id="text" name="text"><br>
        <input type="submit" value="Send">
    </form>
    <p style="color: red;" >{{error}}</p>
</body>
</html>
    </mian>
{% endblock %}