{% extends "base.html" %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <title>Post</title>
{% endblock %}

{% block main %}
    <h3>Create post:</h3>
    <form action="/post" method="post">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="text">Description of post:</label><br>
        <input type="text" id="text" name="text"><br>
        <input type="submit" value="Send">
    </form>
    <p style="color: red;">{{ error }}</p>
{% endblock %}