{% extends "base.html" %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <title>Home</title>
{% endblock %}

{% block main %}
    
<div>
    <h2>Posts:</h2>
</div>
<form action="/">
    <input type="search" id="search" name="search"><br>
    <button type="submit">Search</button>
</form>
{% if post %}
    {% for post in post %}
        <div class="posts">
            <h4>Title: {{ post[2] }} </h4><br>
            <p>Author of post: {{ post[1] }} </p>
            <a href="/post/{{post[0]}}">Read more...</a>
        </div>
    {% endfor %}
{% else  %}
    <p>Not available right now.</p>
{% endif  %}
    
{% endblock %}