{% extends "base.html" %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <title>Login</title>
{% endblock %}

{% block main %}
    <h3>Login:</h3>
    <form action="/login" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username", required="true"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password", required="true"><br>
        <input type="submit" value="Send">
    </form>
    <p style="color: red;" >{{error}}</p>
    <p>Register here... <a href={{ url_for('register') }}>aqui</a></p>
</body>
</html>
    </mian>
{% endblock %}
