{% extends "base.html" %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <title>Posts</title>
{% endblock %}

{% block main %}
    
    <div>
        <h3>Title: {{ post.title }} </h3><br/>
        <p>Author: {{ post.author }}</p>
    </div>
    <div>
        <p>{{ post.text }}</p>
    </div>
    <a href="/">Back</a>      
{% endblock %}